<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!--Import customize.css -->
    <link rel="stylesheet" href="../css/tray-customize.css">
    <title>Document</title>
</head>
<body class="#ffffff white">
    <div id="app" class="container" @keyup.esc="onEsc">
        <div class="row">
            <div class="input-field col s10" id="search-bar" novalidate>
                <input placeholder="输入……" type="text" id="search-input"
                       @keyup.enter="onSearch" v-model:value="searchWord"
                       class="validate">
            </div>
            <div class="col s2">
                <center>
                    <i class="small material-icons">add</i>
                </center>
            </div>
        </div>

        <div class="row">
            <div v-if="load" id="load-view" class="col s12">
                <center>
                    <i class="material-icons spin" id="refresh-icon">refresh</i>
                </center>
            </div>
    
            <div v-if="word" id="word-view" class="col s12">
                <p>{{ word.explanations.cn.defn }}</p>
            </div>
    
            <div v-if="error" id="error-view" class="col s12">
                <p>{{ error.msg }}</p>
            </div>
        </div>
    </div>

    <script src="../js/tray.js"></script>
    <script src="../js/materialize.min.js"></script>
</body>
</html>